body {
    font-family: monospace;
    background-color:#2e2329;
}

footer {
    text-align: center;
    padding-top: 30px;
    color: burlywood;
}

button {
    outline: none !important;
    border: none;
    background: none;
}

input {
    border-radius: 5px;
    box-shadow: inset 1px 1px #2e2329;
}

.container {
    max-width: 350px;
}   

.main {
    position: relative;
    letter-spacing: 1.2px;
 
}

#pokedex {
    border-radius: 10px;
    width: 350px;
}

#poke-id {
    position: absolute;
    top: 7%;
    left: 11%;    
    font-weight: bold;
 
}

#poke-name {
    position: absolute;
    top: 53%;
    left: 30%;
    font-size: small;
}

#poke-image {
    position: absolute;
    top: 27%;
    left: 28%;    
    width: 150px;
    padding-top: 5px;
}

#btnSwitch {
    position: absolute;
    top: 62%;
    left: 8%;
}

#btnSearch {
    position: absolute;
    top: 70%;
    left: 33%;
    color: green;
}

.info {
    position: absolute;
    top: 81%;
    left: 8%;
}

.info h6 {
    font-size: small;
    font-weight: bold;
}

#poke-title {
    position: absolute;
    top: 12%;
    left: 45%;  
    width: 150px;
}

#poke-input {
    position: absolute;
    top: 63%;
    left: 23%;
    width: 50%;
}

#btnRight {
    position: absolute;
    top: 73.7%;
    left: 86.5%;
    color: burlywood;
}

#btnLeft {
    position: absolute;
    top: 73.7%;
    left: 69%;
    color: burlywood;
}

#btnUp {
    position: absolute;
    top: 69.2%;
    left: 77.6%;
    color: burlywood;
}

#btnDown {
    position: absolute;
    top: 78.2%;
    left: 77.6%;
    color: burlywood;
}

#btnSearch:active,
#btnSwitch:active,
#btnUp:active,
#btnDown:active,
#btnRight:active,
#btnLeft:active
 {
    transform: scale(1.1);
}
