body {
    font-family: monospace;
}

footer {
    text-align: center;
    padding-top: 30px;
}    

.container {
    max-width: 370px;
}

.panel {
    position: relative;
    display: inline;
}

#pokedex {
    width: 350px;
}

#poke-image { /*bottom 150% - left 32% */
    position: absolute;
    border-radius: 10%;
    border: 2px solid black;
    background-color: white;
    top: 200px;
    left: 23%;    
}

#btnSearch {
    position: absolute;
    top:147px;
    left: 28%;
    font-weight: bold;
    font-size: larger;
    outline: none;
    border: none;
    background: none;
}

#btnSearch:active {
    transform: scale(1.3);
    color: red;
}