body {
    font-family: monospace;
}

footer {
    text-align: center;
    padding-top: 30px;
}    

.container {
    max-width: 350px;
}   

.panel {
    position: relative;
    display: inline;
}

#pokedex {
    width: 350px;
}

.poke-info {
    position: absolute;
    top: 56%;
    left: 21%;
}

#poke-name {
    position: absolute;
    top: 30%;
    left: 40%;
}

#poke-image { /*bottom 150% - left 32% */
    position: absolute;
    border-radius: 10%;
    border: 2px solid black;
    background-color: white;
    top: 162%;
    left: 60%;    
}

#poke-input {
    position: absolute;
    top: 162%;
    left: 5%;
    width: 180px;
}

#btnSwitch {
    position: absolute;
    top: 121%;
    left: 7%;
    outline: none;
    border: none;
    background: none;
}

#btnRight {
    position: absolute;
    top: 141%;
    left: 80%;
    outline: none;
    border: none;
    background: none;
}

#btnUp {
    position: absolute;
    top: 132%;
    left: 70.5%;
    outline: none;
    border: none;
    background: none;
}

#btnDown {
    position: absolute;
    top: 150.5%;
    left: 70.5%;
    outline: none;
    border: none;
    background: none;
}

#btnLeft {
    position: absolute;
    top: 141%;
    left: 63%;
    outline: none;
    border: none;
    background: none;
}

#btnSearch {
    position: absolute;
    top: 140%;
    left: 28%;
    font-weight: bold;
    font-size: larger;
    outline: none;
    border: none;
    background: none;
}

#btnSearch:active {
    transform: scale(1.3);
    color: red;
}
